body{
    background-color: beige;
}
h1{
    color:black;
    background-color: aquamarine;
}
#show_sketch{
    float:right;
}
canvas{
    border:5px solid rgba(3, 182, 176, 0.537);
    border-radius:20px;
    margin-top:95px;
    animation-name:example;
    animation-duration:4s;
    animation-iteration-count:infinite;
}
@keyframes example{
    from {box-shadow: 1px 2px 40px rgb(19, 0, 232); }
    to {box-shadow: 1px 2px 40px rgba(2, 238, 246, 0.753); }
}
p{
    padding-top:10px;
    font-size:25px;
}